{% extends 'skeleton.html' %}
{% load custom_tags %}
{% block title %}
  <meta name="title" content="Registration Done!">
  <meta name="twitter:title" content="Registration Done! - {{ config.NAME }}">
  <meta name="og:title" content="Registration Done! - {{ config.NAME }}">
  <title>Registration Done! &middot; {{ config.NAME }}</title>
{% endblock %}
{% block content %}
  <h1 class="text-shadow alter-bg">Registration Complete!</h1>
  <div>
    <p>Registration complete! We have sent you an activation email over on {{ email }}, so please click the link there.</p>
  </div>
{% endblock %}
