{% extends 'layout.html' %}
{% load account custom_tags %}
{% user_display request.user as user_display %}
{% block robots %}
  <meta name="robots" content="noindex,nofollow">
{% endblock %}
{% with user=user_display %}
  {% block title %}
    <meta name="title" content="Settings">
    <meta property="og:title" content="Settings ~ {{ config.NAME }}">
    <title>{{ user }} ~ {{ config.NAME }}</title>
  {% endblock %}
{% endwith %}
{% block content %}
  <h1 class="text-shadow alter-bg">Settings</h1>
  <article class="user-action" id="user-edit">
    {% for error in form.non_field_errors %}
      <div class="error">{{ error }}</div>
    {% endfor %}
    <form action="{% url 'user_edit' %}" method="POST" enctype="multipart/form-data">
      {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
      {% for field in form.visible_fields %}
        <div class="field">
          {{ field.label_tag }} {{ field }}
          {% if field.help_text %}
            <span class="helptext">{{ field.help_text|safe }}</span>
          {% endif %}
          {% for error in field.errors %}
            <div class="error">{{ error }}</div>
          {% endfor %}
        </div>
      {% endfor %}
      <input class="button" type="submit" value="Save profile">
    </form>
    <section class="user-action" id="user-other">
      <form action="{% url 'user_data' %}" method="POST">
        {% csrf_token %}
        <input class="button" type="submit" value="Export data">
      </form>
      <form action="{% url 'user_delete' %}" method="GET">
        <input class="button delete" type="submit" value="Delete account">
      </form>
    </section>
  </article>
{% endblock %}
