{% extends 'skeleton.html' %}
{% load custom_tags %}
{% block title %}
  <meta name="title" content="Login">
  <meta name="twitter:title" content="Login - {{ config.NAME }}">
  <meta name="og:title" content="Login - {{ config.NAME }}">
  <title>Login &middot; {{ config.NAME }}</title>
{% endblock %}
{% block content %}
  <h1 class="text-shadow alter-bg">Sign in</h1>
  <article class="user-action" id="login">
    <form method="POST" action="{% url 'users:login' %}">
      {% csrf_token %}
      {% if form.errors %}
        {% for field in form %}
          {% for error in field.errors %}
            <p class="error">{{ error|escape }}</p>
          {% endfor %}
        {% endfor %}
      {% endif %}
      <label>
        <div>Username</div>
        {{ form.username }}
      </label>
      <label>
        <div>Password</div>
        {{ form.password }}
      </label>
      <button type="submit">Login</button>
    </form>
  </article>
{% endblock %}

