{% extends 'skeleton.html' %}
{% load custom_tags %}
{% block title %}
  <meta name="title" content="New Password">
  <meta name="twitter:title" content="New Password - {{ config.NAME }}">
  <meta name="og:title" content="New Password - {{ config.NAME }}">
  <title>New Password &middot; {{ config.NAME }}</title>
{% endblock %}
{% block content %}
  <h1 class="text-shadow alter-bg">New Password</h1>
  <article class="user-action" id="password-reset-new">
    {% if valid %}
      <form method="POST" action="{% url 'users:reset' %}">
        {% csrf_token %}
        {% if form.errors %}
          {% for field in form %}
            {% for error in field.errors %}
              <p class="error">{{ error|escape }}</p>
            {% endfor %}
          {% endfor %}
        {% endif %}
        <label>
          <div>Password</div>
          {{ form.password1 }}
        </label>
        <label>
          <div>Confirm password</div>
          {{ form.password2 }}
        </label>
        <input value="{{ request.GET.uid }}"
               name="uid" type="text" hidden>
        <button type="submit">Change password</button>
      </form>
    {% else %}
      <div class="invalid-link">
        <p class="error">
          Error: Invalid password reset link.
          It might have already been used.
        </p>
        <p>
          Click <a href="{% url 'users:reset' %}">here</a> to get a new link.
        </p>
      </div>
    {% endif %}
  </article>
{% endblock %}

