{% extends 'skeleton.html' %}
{% load custom_tags %}
{% block title %}
  <meta name="title" content="Register">
  <meta name="twitter:title" content="Register - {{ config.NAME }}">
  <meta name="og:title" content="Register - {{ config.NAME }}">
  <title>Register &middot; {{ config.NAME }}</title>
{% endblock %}
{% block content %}
  <h1 class="text-shadow alter-bg">Register</h1>
  <article class="user-action" id="register">
    <form method="POST" action="{% url 'users:register' %}">
      {% csrf_token %}
      {% if form.errors %}
        {% for field in form %}
          {% for error in field.errors %}
            <p class="error">{{ error|escape }}</p>
          {% endfor %}
        {% endfor %}
      {% endif %}
      <label>
        <div>Username</div>
        {{ form.username }}
      </label>
      <label>
        <div>Email</div>
        {{ form.email }}
      </label>
      <label>
        <div>Password</div>
        {{ form.password1 }}
      </label>
      <label>
        <div>Confirm password</div>
        {{ form.password2 }}
      </label>
      <button type="submit">Register</button>
    </form>
  </article>
{% endblock %}

