{% extends 'skeleton.html' %}
{% load custom_tags %}
{% block title %}
  <meta name="title" content="Forgot password">
  <meta name="twitter:title" content="Forgot password - {{ config.NAME }}">
  <meta name="og:title" content="Forgot password - {{ config.NAME }}">
  <title>Forgot password &middot; {{ config.NAME }}</title>
{% endblock %}
{% block content %}
  <h1 class="text-shadow alter-bg">Forgot your password?</h1>
  <div>
    <p>If there is an account registered with {{ email }}, you will receive an email with instructions to reset your password.</p>
  </div>
{% endblock %}
