{% extends 'skeleton.html' %}
{% load custom_tags %}
{% block title %}
  <meta name="title" content="Password Reset">
  <meta name="twitter:title" content="Password Reset - {{ config.NAME }}">
  <meta name="og:title" content="Password Reset - {{ config.NAME }}">
  <title>Password Reset &middot; {{ config.NAME }}</title>
{% endblock %}
{% block content %}
  <h1 class="text-shadow alter-bg">Reset your password.</h1>
  <div>

    {% if valid %}

      <form method="post" action="{% url 'users:reset' uidb64=uid token=token %}">
        {% csrf_token %}

        {% if form.errors %}
          {% for field in form %}
            {% for error in field.errors %}
              <p>{{ error|escape }}</p>
            {% endfor %}
          {% endfor %}
        {% endif %}

        {{ form }}

        <input type="submit" value="Change password">
      </form>

    {% else %}
      <p>Invalid password reset link. Maybe it has already been used.</p>
    {% endif %}
  </div>
{% endblock %}
