{% extends 'skeleton.html' %}
{% load account %}
{% block title %}
  <meta name="title" content="Password Reset">
  <meta name="twitter:title" content="Password Reset - {{ config.NAME }}">
  <meta name="og:title" content="Password Reset - {{ config.NAME }}">
  <title>Password Reset &middot; {{ config.NAME }}</title>
{% endblock %}
{% block content %}
  <h1 class="text-shadow alter-fg">Password Reset</h1>
  {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
  {% endif %}
  <article class="user-action" id="password-reset-sent">
    <div>
      <p>
        You will receive an e-mail with a link to reset your password.
      </p>
      <p>
        If you can't find the email in your inbox, check your junk folder.
      </p>
    </div>
  </article>
{% endblock %}
