{% extends 'skeleton.html' %}
{% load account %}
{% block title %}
  <meta name="title" content="Password Reset">
  <meta name="twitter:title" content="Password Reset - {{ config.NAME }}">
  <meta name="og:title" content="Password Reset - {{ config.NAME }}">
  <title>Password Reset &middot; {{ config.NAME }}</title>
{% endblock %}
{% block content %}
  <h1 class="text-shadow alter-fg">Password Reset</h1>
  {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
  {% endif %}
  <article class="user-action" id="password-reset">
    <p>Enter your email address and we will send you a link to reset your password.</p>
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Reset password"/>
    </form>
  </article>
{% endblock %}
