{% extends 'skeleton.html' %}
{% load static %}
{% block title %}
  <meta name="title" content="Groups">
  <meta name="twitter:title" content="Groups - {{ config.NAME }}">
  <meta property="og:title" content="Groups - {{ config.NAME }}">
  <title>Groups &middot; {{ config.NAME }}</title>
{% endblock %}
{% block content %}
  <h1>Groups</h1>
  <article id="all-groups">
    {% for group in groups %}
      <section class="group">
        <a href="./{{ group.id }}/"
           title="{{ group.name }}">
          <strong>{{ group.name }}</strong>
          <div class="group-logo">
            {% if group.logo %}
              <img src="{{ group.logo.url }}" alt="Logo">
            {% else %}
              <img src="{% static 'icons/group.png' %}" alt="Logo">
            {% endif %}
          </div>
        </a>
      </section>
    {% endfor %}
  </article>
{% endblock %}
{% block breadcrumbs %}
  <li itemprop="itemListElement" itemscope
      itemtype="https://schema.org/ListItem">
    <a itemtype="https://schema.org/Thing"
       itemprop="item" href="{{ PAGE_URL }}">
      <span itemprop="name">Groups</span>
    </a>
    <meta itemprop="position" content="2">
  </li>
{% endblock %}

