{% extends 'skeleton.html' %}
{% load custom_tags %}
{% load static %}
{% block description %}
  <meta name="twitter:description" content="{{ group.description }}">
  <meta property="og:description" content="{{ group.description }}">
{% endblock %}
{% block image %}
  {% if group.logo %}
    {% with logo=PAGE_URL|urljoin:group.logo.url %}
      <meta name="twitter:image" content="{{ logo }}">
      <meta property="og:image" content="{{ logo }}">
    {% endwith %}
  {% else %}
    <meta name="twitter:image" content="">
    <meta property="og:image" content="">
  {% endif %}
{% endblock %}
{% block head_extras %}
  <style type="text/css">
    h2 { color: {{ config.ALTER_BACKGROUND|unquote }} }
  </style>
{% endblock %}
{% block title %}
  <meta name="title" content="{{ group }}">
  <meta name="twitter:title" content="{{ group }} - {{ config.NAME }}">
  <meta property="og:title" content="{{ group }} - {{ config.NAME }}">
  <title>{{ group }} :: {{ config.NAME }}</title>
{% endblock %}
{% block content %}
  <h1>{{ group.name }}</h1>
  <article id="group">
    <section id="group-info">
      {% if group.logo %}
        <img src="{{ group.logo.url }}" alt="Logo">
      {% else %}
        <img src="{% static /icons/group.png %}" alt="Logo">
      {% endif %}
      <div>
        <div class="group-site">
          <strong class="colon">Website</strong>
          {% if group.website %}
            <a href="{{ group.website }}"
               rel="noopener" target="_blank">
              {{ group.website }}
            </a>
          {% else %}
            <span>N/A</span>
          {% endif %}
        </div>
        <div class="group-discord">
          <strong class="colon">Discord</strong>
          {% if group.discord %}
            <a href="{{ group.discord }}"
               rel="noopener" target="_blank">
              {{ group.discord }}
            </a>
          {% else %}
            <span>N/A</span>
          {% endif %}
        </div>
        <div class="group-twitter">
          <strong class="colon">Twitter</strong>
          {% if group.twitter %}
            <a href="https://twitter.com/{{ group.twitter }}"
               rel="noopener" target="_blank">
              @{{ group.twitter }}
            </a>
          {% else %}
            <span>N/A</span>
          {% endif %}
        </div>
      </div>
    </section>
    {% if group.description %}
      <section id="group-desc">
        <h3 class="colon alter-fg">Description</h3>
        <div>{{ group.description }}</div>
      </section>
    {% elif not members %}
      <style>img{border-bottom-left-radius:5px}</style>
    {% endif %}
    {% if members %}
      <section id="group-members">
        <h3 class="colon alter-fg">Members</h3>
        {% for member in members %}
          <div class="member">
            <h2 class="member-name">{{ member.name }}</h2>
            <div class="member-discord">
              <strong class="colon">Discord</strong>
              <span class="member-discord">
                {{ member.discord|default:'N/A' }}
              </span>
            </div>
            <div class="member-twitter">
              <strong class="colon">Twitter</strong>
              {% if member.twitter %}
                <a href="https://twitter.com/{{ member.twitter }}"
                   rel="noopener" target="_blank">
                  @{{ member.twitter }}
                </a>
              {% else %}
                <span>N/A</span>
              {% endif %}
            </div>
            <div class="member-roles">
              <strong class="colon">Roles</strong>
              {% if member.roles.all %}
                {% for role in member.roles.all %}
                  {% if role.group == group %}
                    <span class="comma">{{ role.get_role_display }}</span>
                  {% endif %}
                {% endfor %}
              {% else %}
                <span>N/A</span>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </section>
    {% endif %}
  </article>
{% endblock %}

