{% load comments %}
<form action="{% comment_form_target %}" method="POST">
    {{ form.media }}
    <div>{{ form.comment }}</div>
    <div>{{ form.content_type }}</div>
    <div>{{ form.object_pk }}</div>
    <div>{{ form.timestamp }}</div>
    <div>{{ form.security_hash }}</div>
    <div class="no-display">{{ form.honeypot }}</div>
    {% csrf_token %}
    {% if next %}<input type="hidden" name="next" value="{{ next }}">{% endif %}
    <noscript>
      <button type="submit" class="button">
        <i class="mi mi-send"></i>Send
      </button>
    </noscript>
</form>
