root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.py]
max_line_length = 80
quote_type = single

[*.{ht,x}ml]
indent_size = 2
quote_type = double

[*.js]
indent_size = 2
max_line_length = 80
quote_type = single
curly_bracket_next_line = false

[*.json]
indent_size = 2
curly_bracket_next_line = false

[*.y{a,}ml]
indent_size = 2

[*.{s,}css]
indent_size = 2
quote_type = single
curly_bracket_next_line = false

[*.md]
indent_size = 2

[*.rst]
indent_size = 3

[Makefile]
indent_style = tab
