root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.py]
indent_size = 4
max_line_length = 80
quote_type = single

[*.{ht,x}ml]
quote_type = double

[*.js]
max_line_length = 80
quote_type = single
curly_bracket_next_line = false

[*.json]
curly_bracket_next_line = false

[*.{s,}css]
quote_type = single
curly_bracket_next_line = false

[*.rst]
indent_size = 3

[Makefile]
indent_size = 4
indent_style = tab
