# OS stuff
.directory
desktop.ini
Thumbs.db
.DS_Store

# Python/Django stuff
__pycache__/
**/migrations/*auto*
db.sqlite3
logs/
*.pyc

# Sphinx stuff
_build/
_templates/

# Environment stuff
.python-version
.env/
.venv/
env/
venv/

# Editor stuff
.idea/
.settings/
.classpath
.project
*.pydevproject
*.cache
*.sublime-workspace
*.sublime-project
.*vimrc
*.swp
*~

# MangAdventure stuff
config.ini
media/
static/COMPILED/
static/admin/
static/extra/

