# OS stuff
.directory
desktop.ini
Thumbs.db
.DS_Store

# Python/Django stuff
**/migrations/*auto*
__pycache__/
logs/
db.sqlite3
*.pyc

# Environment stuff
.env/
.venv/
env/
venv/
.python-version

# Setuptools stuff
build/
dist/
PKG-INFO
*.egg-info
*.egg-link

# Sphinx stuff
_build/
_templates/

# Editor stuff
.idea/
.settings/
.classpath
.project
*.pydevproject
*.cache
*.sublime-workspace
*.sublime-project
.*vimrc
*.swp
*~

# Server stuff
.htaccess
*.log
*.ini
*.pid
*.sock
*.gz
*.br

# MangAdventure stuff
user_settings.py
config.ini
media/
static/extra/style.scss
static/styles/_variables.scss
static/debug_toolbar/

