django~=3.2.15
djangorestframework>=3.13
django-allauth>=0.51
Pillow>=9.2
libsass>=0.21
yaenv~=1.3.2; python_version=='3.7'
yaenv~=1.4.2; python_version=='3.8'
yaenv~=1.5.1; python_version=='3.9'
yaenv~=1.6.1; python_version=='3.10'
