{% extends 'skeleton.html' %}
{% load custom_tags %}
{% block title %}
  <meta name="title" content="Series List">
  <meta name="twitter:title" content="Series List - {{ config.NAME }}">
  <meta property="og:title" content="Series List - {{ config.NAME }}">
  <title>Series List &middot; {{ config.NAME }}</title>
{% endblock %}
{% block content %}
  <h1 class="text-shadow alter-bg">Series List</h1>
  <article id="list">
    {% for series in all_series %}
      {% if series.chapters.all %}
        <section>
          <h2 class="series-title">
            <a href="/reader/{{ series.slug }}/"
               title="{{ series.title }}">
              {{ series.title }}
            </a>
          </h2>
          <div class="cover-container">
            <img src="{{ MEDIA_URL|add:series.cover.name }}" class="cover">
          </div>
          <div class="series-info">
            {#<div class="series-desc">#}
            {#  {{ series.description }}#}
            {#</div>#}
            <strong class="colon">
              {% if config.MAX_CHAPTERS > 1 %}
                Latest Chapters
              {% else %}
                Latest Chapter
              {% endif %}
            </strong>
            {% with chapters=series.chapters|order_by:'-uploaded' %}
              {% for chapter in chapters|vslice:config.MAX_CHAPTERS %}
                {% with vol=chapter.volume num=chapter.number %}
                  <div class="series-chapter">
                    <a href="{{ chapter.url }}" title="{{ chapter.title }}"
                       {% if chapter.final %}class="end"{% endif %}>
                      Vol. {{ vol }}, Ch. {{ num|floatformat }}: {{ chapter.title }}
                    </a>
                    <div class="chapter-metadata">
                      {% with groups=chapter.groups.all %}
                        <span class="divider" title="{{ groups|join:', ' }}">
                        </span>
                        <span class="chapter-groups" title="{{ groups|join:', ' }}">
                          {% for group in groups %}
                            <a href="/groups/{{ group.id }}"
                               title="{{ group.name }}"
                              {% if not forloop.last %}class="comma"{% endif %}>
                              {{ group.name }}</a>
                          {% endfor %}
                      {% endwith %}
                      </span>
                      <span class="divider"
                            title="{{ chapter.uploaded|date:'N d, Y - H:i' }}">
                      </span>
                      <span class="chapter-date"
                            title="{{ chapter.uploaded|date:'N d, Y - H:i' }}">
                        {{ chapter.uploaded|date:'N d, Y - H:i' }}
                      </span>
                    </div>
                  </div>
                {% endwith %}
              {% endfor %}
            {% endwith %}
          </div>
        </section>
        <span class="alter-bg separator"></span>
      {% endif %}
    {% endfor %}
  </article>
{% endblock %}
{% block breadcrumbs %}
  <li itemprop="itemListElement" itemscope
      itemtype="https://schema.org/ListItem">
    <a itemtype="https://schema.org/Thing"
       itemprop="item" href="{{ PAGE_URL }}">
      <span itemprop="name">Reader</span>
    </a>
    <meta itemprop="position" content="2">
  </li>
{% endblock %}

