{% extends 'skeleton.html' %}
{% load custom_tags %}
{% block title %}
  <meta name="title" content="Series List">
  <meta name="twitter:title" content="Series List - {{ config.NAME }}">
  <meta property="og:title" content="Series List - {{ config.NAME }}">
  <title>Series List :: {{ config.NAME }}</title>
{% endblock %}
{% block content %}
  <h1 class="text-shadow alter-bg">Series List</h1>
  <article id="list">
    {% for series in all_series %}
      {% if series.chapters.all %}
        <section>
          <h2 class="series-title">
            <a href="/reader/{{ series.slug }}/"
               title="{{ series.title }}">
              {{ series.title }}
            </a>
          </h2>
          <img style="max-width: {{ series.cover.width }}px;
                      max-height: {{ series.cover.height }}px"
               src="{{ MEDIA_URL|add:series.cover.name }}" class="cover"/>
          <div class="series-info">
            {#<div class="series-desc">#}
            {#  {{ series.description }}#}
            {#</div>#}
            <strong>Latest Chapters:</strong>
            {% with chapters=series.chapters|order_by:'-uploaded' %}
              {% for chapter in chapters|vslice:config.MAX_CHAPTERS %}
                {% with vol=chapter.volume num=chapter.number %}
                  <div class="series-chapter">
                    <a href="{{ chapter.url }}" title="{{ chapter.title }}"
                       {% if chapter.final %}class="end"{% endif %}>
                      Vol. {{ vol }}, Ch. {{ num|floatformat }}: {{ chapter.title }}
                    </a>
                    <div class="chapter-metadata">
                      <span class="divider"
                            title="{{ chapter.groups.all|join:', ' }}">
                      </span>
                      <span class="chapter-groups"
                            title="{{ chapter.groups.all|join:', ' }}">
                        {% for group in chapter.groups.all %}
                          <a href="/groups/{{ group.id }}"
                             title="{{ group.name }}"
                            {% if not forloop.last %}class="comma"{% endif %}>
                            {{ group.name }}</a>
                        {% endfor %}
                      </span>
                      <span class="divider"
                            title="{{ chapter.uploaded|date:'N d, Y - H:i' }}">
                      </span>
                      <span class="chapter-date"
                            title="{{ chapter.uploaded|date:'N d, Y - H:i' }}">
                        {{ chapter.uploaded|date:'N d, Y - H:i' }}
                      </span>
                    </div>
                  </div>
                {% endwith %}
              {% endfor %}
            {% endwith %}
          </div>
        </section>
        <span class="alter-bg separator"></span>
      {% endif %}
    {% endfor %}
  </article>
{% endblock %}

