{% extends 'layout.html' %}
{% load cache custom_tags humanize %}
{% block title %}
  <meta name="title" content="Series List">
  <meta name="twitter:title" content="Series List - {{ config.NAME }}">
  <meta property="og:title" content="Series List - {{ config.NAME }}">
  <title>Series List &middot; {{ config.NAME }}</title>
{% endblock %}
{% block content %}
  {% cache 86400 series_list all_series %}
    <h1 class="text-shadow alter-bg">Series List</h1>
    <article id="list">
      {% for series in all_series %}
        {% if series.chapters.all %}
          <section class="series">
            <h2 class="series-title">
              <a href="{{ series.get_absolute_url }}" title="{{ series.title }}">
                {{ series.title }}
              </a>
            </h2>
            <div class="cover-container">
              <img src="{{ series.cover.url }}" alt="{{ series }} Cover" class="cover">
            </div>
            <div class="series-info">
              <strong>Latest Chapter{{ config.MAX_CHAPTERS|pluralize }}:</strong>
              {% with chapters=series.chapters|order_by:'-uploaded' %}
                {% for chapter in chapters|vslice:config.MAX_CHAPTERS %}
                  {% with vol=chapter.volume num=chapter.number %}
                    <div class="series-chapter">
                      <a href="{{ chapter.get_absolute_url }}" title="{{ chapter.title }}"
                         {% if chapter.final %}class="end"{% endif %}>
                        {% if vol > 0 %} Vol. {{ vol }},{% endif %}
                        Ch. {{ num|floatformat }}: {{ chapter.title }}
                      </a>
                      <div class="chapter-metadata">
                        {% with groups=chapter.groups.all %}
                          <span class="divider" title="{{ groups|join:', ' }}"></span>
                          <span class="chapter-groups" title="{{ groups|join:', ' }}">
                            {% for group in groups %}
                              <a href="{{ group.get_absolute_url }}" title="{{ group.name }}"
                                 {% if not forloop.last %}class="comma"{% endif %}>
                                {{ group.name }}</a>
                            {% endfor %}
                        {% endwith %}
                        </span>
                        {% with date=chapter.uploaded|naturaltime %}
                          <span class="divider" title="{{ date }}"></span>
                          <span class="chapter-date" title="{{ date }}">{{ date }}</span>
                        {% endwith %}
                      </div>
                    </div>
                  {% endwith %}
                {% endfor %}
              {% endwith %}
            </div>
          </section>
          <span class="alter-bg separator"></span>
        {% endif %}
      {% endfor %}
    </article>
  {% endcache %}
{% endblock %}
