{% extends 'skeleton.html' %}
{% load custom_tags %}
{% load static %}
{% load inlinecompile from compile_static %}
{% block head_extras %}
  <style type="text/css">
    {% inlinecompile 'scss' %}
      {% include 'scss/series.django.scss' %}
    {% endinlinecompile %}
  </style>
{% endblock %}
{% block image %}
  {% with url=PAGE_URL|urljoin:MEDIA_URL %}
    <meta name="twitter:image" content="{{ url|add:series.cover.name }}">
    <meta property="og:image" content="{{ url|add:series.cover.name }}">
  {% endwith %}
{% endblock %}
{% block description %}
  <meta name="twitter:description" content="{{ series.description }}">
  <meta property="og:description" content="{{ series.description }}">
{% endblock %}
{% block title %}
  <meta name="title" content="{{ series.title }}">
  <meta name="twitter:title" content="{{ series.title }} ~ {{ config.NAME }}">
  <meta property="og:title" content="{{ series.title }} ~ {{ config.NAME }}">
  <title>{{ series.title }} :: {{ config.NAME }}</title>
{% endblock %}
{% block content %}
  <h1 id="series-title" class="text-shadow alter-bg">{{ series.title }}</h1>
  <article id="series">
    <img src="{{ MEDIA_URL|urljoin:series.cover.name }}"
         alt="Cover" class="cover"/>
    <div id="series-info">
      {% if series.aliases.all %}
        <div id="series-aliases">
          <strong class="alter-fg colon">
            {% if series.aliases.count > 1 %}
              Alt. titles
            {% else %}
              Alt. title
            {% endif %}
          </strong>
          {% for alias in series.aliases.all %}
            {% if forloop.first and forloop.last %}
              <span class="alias">{{ alias }}</span>
            {% else %}
              <div class="alias">{{ alias }}</div>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    <div id="series-authors">
      {% if series.authors.all %}
        <div id="series-authors">
          <strong class="alter-fg colon">
            {% if series.authors.count > 1 %}
              Authors
            {% else %}
              Author
            {% endif %}
          </strong>
          {% for author in series.authors.all %}
            {% if forloop.first and forloop.last %}
              <span class="author">{{ author }}</span>
            {% else %}
              <div class="author">{{ author }}</div>
            {% endif %}
          {% endfor %}
        </div>
      {% else %}
        <span class="author">N/A</span>
      {% endif %}
    </div>
    <div id="series-artists">
      {% if series.artists.all %}
        <div id="series-artists">
          <strong class="alter-fg colon">
            {% if series.artists.count > 1 %}
              Artists
            {% else %}
              Artist
            {% endif %}
          </strong>
          {% for artist in series.artists.all %}
            {% if forloop.first and forloop.last %}
              <span class="artist">{{ artist }}</span>
            {% else %}
              <div class="artist">{{ artist }}</div>
            {% endif %}
          {% endfor %}
        </div>
      {% else %}
        <span class="artist">N/A</span>
      {% endif %}
    </div>
      <div id="series-status">
        <strong class="alter-fg colon">Status</strong>
        <span>{{ series.completed|yesno:'Completed,Ongoing' }}</span>
      </div>
    </div>
    {% if series.description or not series.description %}
      <div id="series-desc">
        <h3 class="alter-fg colon">Description</h3>
        <div>{{ series.description|linebreaks }}</div>
      </div>
    {% endif %}
    <div id="series-chapters">
      <h3 class="alter-fg colon">Chapters</h3>
      {% with chapters=series.chapters.reverse %}
        {% for chapter in chapters %}
          <div class="chapter">
            {% with vol=chapter.volume num=chapter.number %}
              <a href="{{ chapter.url }}"
                 {% if chapter.final %}class="end"{% endif %}
                 title="{{ chapter.title }}">
                Vol. {{ vol }}, Ch. {{ num|floatformat }}: {{ chapter.title }}
              </a>
              <div class="chapter-metadata">
                <span class="divider"
                      title="{{ chapter.groups.all|join:', ' }}">
                </span>
                <span class="chapter-groups"
                      title="{{ chapter.groups.all|join:', ' }}">
                  {% for group in chapter.groups.all %}
                    <a href="/groups/{{ group.id }}"
                       title="{{ group.name }}"
                       {% if not forloop.last %}class="comma"{% endif %}>
                      {{ group.name }}</a>
                  {% endfor %}
                </span>
                <span class="divider"
                      title="{{ chapter.uploaded|date:'N d, Y - H:i' }}">
                </span>
                 <span class="chapter-date"
                      title="{{ chapter.uploaded|date:'N d, Y - H:i' }}">
                  {{ chapter.uploaded|date:'N d, Y - H:i' }}
                </span>
              </div>
            {% endwith %}
          </div>
        {% endfor %}
      {% endwith %}
    </div>
  </article>
{% endblock %}

