{% extends 'skeleton.html' %}
{% load custom_tags %}
{% load inlinecompile from compile_static %}
{% block head_extras %}
  <style type="text/css">
    {% inlinecompile 'scss' %}
      $color: {{ config.ALTER_BACKGROUND|unquote }};
      .cover {
        max-width: {{ series.cover.width }}px;
        max-height: {{ series.cover.height }}px;
      }
      @media screen and (max-width: 436px) {
        #series > div {
          border: 2px solid $color;
          border-radius: 5px;
          > div:not(:last-of-type) {
            border-bottom: 2px solid $color;
          }
        }
      }
    {% endinlinecompile %}
  </style>
  <script type="text/javascript">
    function pluralize(parent) {
      var selector = parent + ' .colon';
      document.querySelector(selector).innerHTML += 's';
    }
  </script>
{% endblock %}
{% block image %}
  {% with url=PAGE_URL|urljoin:MEDIA_URL %}
    <meta name="twitter:image" content="{{ url|add:series.cover.name }}">
    <meta property="og:image" content="{{ url|add:series.cover.name }}">
  {% endwith %}
{% endblock %}
{% block description %}
  <meta name="twitter:description" content="{{ series.description }}">
  <meta property="og:description" content="{{ series.description }}">
{% endblock %}
{% block title %}
  <meta name="title" content="{{ series.title }}">
  <meta name="twitter:title" content="{{ series.title }} ~ {{ config.NAME }}">
  <meta property="og:title" content="{{ series.title }} ~ {{ config.NAME }}">
  <title>{{ series.title }} :: {{ config.NAME }}</title>
{% endblock %}
{% block content %}
  <h1 id="series-title" class="text-shadow alter-bg">{{ series.title }}</h1>
  <article id="series">
    <img src="{{ MEDIA_URL|urljoin:series.cover.name }}"
         alt="Cover" class="cover"/>
    <div id="series-info">
      {% if series.aliases.all %}
        <div id="series-aliases">
          <strong class="alter-fg colon">Alt. title</strong>
          {% for alias in series.aliases.all %}
            {% if forloop.first and forloop.last %}
              <span class="alias">{{ alias }}</span>
            {% else %}
              {% if forloop.first %}
                <script>pluralize('#series-aliases')</script>
              {% endif %}
              <div class="alias">{{ alias }}</div>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
      <div id="series-desc">
        <strong class="alter-fg colon">Description</strong>
        {% if series.description %}
          <div>{{ series.description|linebreaks }}</div>
        {% else %}
          <span>N/A</span>
        {% endif %}
      </div>
      <div id="series-authors">
        <strong class="alter-fg colon">Author</strong>
        {% if series.authors.all %}
          {% for author in series.authors.all %}
            {% if forloop.first and forloop.last %}
              <span class="author">{{ author }}</span>
            {% else %}
              {% if forloop.first %}
                <script>pluralize('#series-authors')</script>
              {% endif %}
              <div class="author">{{ author }}</div>
            {% endif %}
          {% endfor %}
        {% else %}
          <span class="author">N/A</span>
        {% endif %}
      </div>
      <div id="series-artists">
        <strong class="alter-fg colon">Artist</strong>
        {% if series.artists.all %}
          {% for artist in series.artists.all %}
            {% if forloop.first and forloop.last %}
              <span class="artist">{{ artist }}</span>
            {% else %}
              {% if forloop.first %}
                <script>pluralize('#series-artists')</script>
              {% endif %}
              <div class="artist">{{ artist }}</div>
            {% endif %}
          {% endfor %}
        {% else %}
          <span class="artist">N/A</span>
        {% endif %}
      </div>
      <div id="series-status">
        <strong class="alter-fg colon">Status</strong>
        <span>{{ series.completed|yesno:'Completed,Ongoing' }}</span>
      </div>
    </div>
    <div id="series-chapters">
      <h3 class="alter-fg colon">Chapters</h3>
      {% with chapters=series.chapters.reverse %}
        {% for chapter in chapters %}
          <div class="chapter">
            {% with vol=chapter.volume num=chapter.number %}
              <a href="{{ chapter.url }}"
                 {% if chapter.final %}class="end"{% endif %}
                 title="{{ chapter.title }}">
                Vol. {{ vol }}, Ch. {{ num }}: {{ chapter.title }}
              </a>
              <span class="chapter-date"
                    title="{{ chapter.uploaded|date:'N d, Y - H:i' }}">
                - {{ chapter.uploaded|date:'N d, Y - H:i' }}
              </span>
            {% endwith %}
          </div>
        {% endfor %}
      {% endwith %}
    </div>
  </article>
{% endblock %}

