{% extends 'layout.html' %}
{% load static humanize custom_tags %}
{% block canonical %}{% endblock %}
{% block head_extras %}
  <meta name="totalResults" content="{{ total }}">
  <script src="{% static 'vendor/tablesort.min.js' %}"
          type="application/javascript" async></script>
  <script src="{% static 'scripts/search.js' %}"
          type="application/javascript" defer></script>
{% endblock %}
{% block title %}
  <meta name="title" content="Search {{ config.NAME }}">
  <meta property="og:title" content="Search - {{ config.NAME }}">
  <title>Search &middot; {{ config.NAME }}</title>
{% endblock %}
{% block content %}
  <h1 class="text-shadow alter-bg">Search</h1>
  <article id="search">
    <section id="search-options">
      <form action="{% url 'search' %}" id="search-form" method="GET">
        <div id="search-title">
          <label for="query">Series Title: </label>
          <input name="q" value="{{ query }}" id="query" type="text">
        </div>
        <div id="search-author">
          <label for="author">Author/Artist: </label>
          <input name="author" value="{{ author }}" id="author" type="text">
        </div>
        <div id="search-status">
          <label for="status">Series Status: </label>
          <input {% if status == 'any' %}checked="checked"{% endif %}
                 name="status" id="status-any" value="any" type="radio">
          <label for="status-any">Any</label>
          <input {% if status == 'completed' %}checked="checked"{% endif %}
                 name="status" id="status-completed" value="completed" type="radio">
          <label for="status-completed">Completed</label>
          <input {% if status == 'ongoing' %}checked="checked"{% endif %}
                 name="status" id="status-ongoing" value="ongoing" type="radio">
          <label for="status-ongoing">Ongoing</label>
        </div>
        <fieldset id="search-categories">
          <legend>Categories:</legend>
          <div>(
            <i class="mi mi-ok-circle"></i> = include /
            <i class="mi mi-x-circle"></i> = exclude )
          </div>
          <input type="hidden" class="no-display" id="categories" name="categories">
          <div id="category-container">
            {% for category in all_categories %}
              <label class="tooltip category" data-tooltip="{{ category.description }}">
                {% if category.id in in_categories %}
                  <i class="mi mi-ok-circle"></i> {{ category }}
                {% elif category.id in ex_categories %}
                  <i class="mi mi-x-circle"></i> {{ category }}
                {% else %}
                  <i class="mi mi-circle"></i> {{ category }}
                {% endif %}
                <input type="checkbox" class="no-display" name="categories[]" value="{{ category.id }}" disabled>
              </label>
            {% endfor %}
          </div>
        </fieldset>
        <button id="search-submit" type="submit">
          <i class="mi mi-send"></i> Submit Search
        </button>
      </form>
    </section>
    <section id="search-results">
      {% if results %}
        <table id="result-table">
          <thead>
            <tr>
              <th data-sort-default>Series<i class="mi"></i></th>
              <th class="s-hidden">Author / Artist<i class="mi"></i></th>
              <th class="s-hidden">Description<i class="mi"></i></th>
              <th class="s-hidden">Categories<i class="mi"></i></th>
              <th class="s-hidden">Chapters<i class="mi"></i></th>
              <th class="s-hidden">Last Update<i class="mi"></i></th>
            </tr>
          </thead>
          {% for series in results %}
            <tr class="result">
              <td class="result-title">
                {% if series.completed %}
                  <i class="mi mi-book" title="Completed"></i>
                {% else %}
                  <i class="mi mi-book-o" title="Ongoing"></i>
                {% endif %}
                <a href="{{ series.get_absolute_url }}"
                   title="{{ series.title }}">
                  {{ series.title }}
                </a>
              </td>
              <td class="result-people s-hidden">
                <span class="result-authors">
                  {{ series.authors.all|join:' & '|default:'N/A' }}
                </span>
                <span class="result-artists">
                  {{ series.artists.all|join:' & '|default:'N/A' }}
                </span>
              </td>
              <td class="result-desc s-hidden">
                {{ series.description|default:'N/A' }}
              </td>
              <td class="result-categories s-hidden">
                {{ series.categories.all|join:', '|default:'N/A' }}
              </td>
              <td class="result-chapters s-hidden" data-sort-method="number">
                {{ series.chapter_count }}
              </td>
              <td class="result-date s-hidden" data-sort-method="number"
                {% if series.latest_upload %}
                  {% with latest=series.latest_upload %}data-sort="{{ latest.timestamp }}">
                    <time datetime="{{ latest|date:'Y-m-d' }}">{{ latest|naturaltime }}</time>
                  {% endwith %}
                {% else %}data-sort="0">N/A{% endif %}
              </td>
            </tr>
          {% endfor %}
        </table>
      {% endif %}
    </section>
  </article>
{% endblock %}
