<!DOCTYPE html>
{% load static compile_static custom_tags %}
<html lang="en-us">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block color %}
      <meta name="theme-color" content="{{ config.ALTER_BACKGROUND }}">
      <meta name="msapplication-navbutton-color"
            content="{{ config.ALTER_BACKGROUND }}">
      <meta name="apple-mobile-web-app-status-bar-style"
            content="{{ config.ALTER_BACKGROUND }}">
    {% endblock %}
    {% block keywords %}
      <meta name="keywords" content="{{ config.KEYWORDS }}">
    {% endblock %}
    {% block robots %}
      <meta name="robots" content="index,follow">
    {% endblock %}
    {% if config.DISCORD %}
      <meta name="discord" content="{{ config.DISCORD }}">
    {% endif %}
    {% if config.TWITTER %}
      <meta name="twitter:site" content="@{{ config.TWITTER }}">
    {% endif %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site_name" content="{{ config.NAME }}">
    {% block description %}
      <meta name="twitter:description" content="{{ config.DESCRIPTION }}">
      <meta property="og:description" content="{{ config.DESCRIPTION }}">
      <meta name="description" content="{{ config.DESCRIPTION }}">
    {% endblock %}
    {% block image %}
      {% with url=PAGE_URL|urljoin:MEDIA_URL %}
        {% with logo=url|urljoin:config.LOGO_LARGE %}
          <meta name="twitter:image" content="{{ logo }}">
          <meta property="og:image" content="{{ logo }}">
          <meta name="twitter:image:alt" content="Site logo">
          <meta property="og:image:alt" content="Site logo">
        {% endwith %}
      {% endwith %}
    {% endblock %}
    {% block url %}
      <meta name="url" content="{{ PAGE_URL }}">
      <meta property="og:url" content="{{ PAGE_URL }}">
    {% endblock %}
    <meta property="og:determiner" content="">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="{{ config.NAME }}">
    {% with favicon=MEDIA_URL|urljoin:config.FAVICON %}
      <link href="{{ favicon }}" rel="shortcut icon"
            type="{{ favicon|get_type }}">
    {% endwith %}
    <link href="{% url 'opensearch' %}" rel="search" title="{{ config.NAME }}"
          type="application/opensearchdescription+xml">
    <link href="{{ PAGE_URL }}" rel="canonical" type="text/html">
    <link href="https://cdn.staticaly.com/gh/mangadventure/font/750100b/dist/mangadventure.css"
          integrity="sha384-dYBFNGUHvuphZFbACiTgZUTnCwftZ3ZSRrjtr47SKpAylZ1vo5P4ALQSDJ0wgGTe"
          rel="preload stylesheet" as="style" type="text/css" crossorigin="anonymous">
    <link href="{{ config.FONT_URL }}" rel="preload stylesheet"
          as="style" type="text/css" crossorigin="anonymous">
    {% block stylesheets %}
      <link href="{% static 'styles/style.scss'|compile %}" rel="stylesheet" type="text/css">
      <link href="{% static 'extra/style.scss'|compile %}" rel="stylesheet" type="text/css">
      <noscript>
        <link href="{% static 'styles/noscript.css' %}" rel="stylesheet" type="text/css">
      </noscript>
    {% endblock %}
    {% block head_extras %}{% endblock %}
    <meta name="generator" content="MangAdventure v{{ MANGADV_VERSION }}">
    {% block title %}
      <meta name="twitter:title" content="{{ config.NAME }}">
      <meta property="og:title" content="{{ config.NAME }}">
      <meta name="title" content="{{ config.NAME }}">
      <title>{{ config.NAME }}</title>
    {% endblock %}
  </head>
  <body>
    <header id="header">
      <a id="home" href="/">
        <span>
          <noscript>
            <span title="{{ config.NAME }}" class="mi mi-home">
            </span>
          </noscript>
          {% with logo=MEDIA_URL|urljoin:config.LOGO_LARGE %}
            <object class="logo" type="{{ logo|get_type }}"
                    data="{{ logo }}" height="45">
            </object>
          {% endwith %}
          {% with logo=MEDIA_URL|urljoin:config.LOGO_MEDIUM %}
            <object class="logo" type="{{ logo|get_type }}"
                    data="{{ logo }}" height="38">
            </object>
          {% endwith %}
          {% with logo=MEDIA_URL|urljoin:config.LOGO_SMALL %}
            <object class="logo" type="{{ logo|get_type }}"
                    data="{{ logo }}" height="27">
            </object>
          {% endwith %}
        </span>
      </a>
      <nav id="navig">
        <ul>
          <li>
            <a href="{% url 'index' %}">
              <i class="mi mi-clock"></i>
              <span class="ident">Latest</span>
            </a>
          </li>
          <li>
            <a href="{% url 'reader:directory' %}">
              <i class="mi mi-library"></i>
              <span class="ident">Library</span>
            </a>
          </li>
          <li id="searchlink">
            <a href="{% url 'search' %}">
              <i class="mi mi-search"></i>
              <span class="ident">Search</span>
            </a>
          </li>
          <li>
            <form action="{% url 'search' %}" method="GET">
              <input placeholder="Type a series to search for"
                     name="q" type="search" class="main-bg" id="searchbox"/>
            </form>
          </li>
        </ul>
      </nav>
    </header>
    {% if messages %}
      <aside id="messages">
        {% for message in messages %}
          <div class="message {{ message.tags }}">{{ message }}</div>
        {% endfor %}
      </aside>
    {% endif %}
    <main id="content">
      {% block content %}
      {% endblock %}
    </main>
    <footer id="footer">
      <div id="links">
        <a href="{% url 'info' %}" class="link">
          <i class="mi mi-info-circle"></i><span>About us</span>
        </a>
        <a href="{% url 'privacy' %}" class="link">
          <i class="mi mi-lock"></i><span>Privacy</span>
        </a>
        {% if config.TWITTER %}
          <a href="https://twitter.com/{{ config.TWITTER }}"
             class="link twitter">
            <i class="mi mi-twitter"></i><span>Twitter</span>
          </a>
        {% endif %}
        {% if config.DISCORD %}
          <a href="{{ config.DISCORD }}" class="link discord">
            <i class="mi mi-discord"></i><span>Discord</span>
          </a>
        {% endif %}
      </div>
      {% if config.SHOW_CREDITS %}
        <div id="credits">
          This site was created using
          <a href="https://github.com/mangadventure/MangAdventure"
             rel="noopener" target="_blank">MangAdventure</a>.
        </div>
      {% endif %}
    </footer>
  </body>
</html>

