{% extends 'layout.html' %}
{% load account %}
{% block title %}
  <meta name="title" content="E-mail Verification">
  <meta name="twitter:title" content="E-mail Verification - {{ config.NAME }}">
  <meta name="og:title" content="E-mail Verification - {{ config.NAME }}">
  <title>E-mail Verification &middot; {{ config.NAME }}</title>
{% endblock %}
{% block robots %}
  <meta name="robots" content="noindex">
{% endblock %}
{% block content %}
  <h1 class="text-shadow alter-bg">E-mail Verification</h1>
  <article class="user-action" id="email-activation">
    {% if confirmation %}
      {% user_display confirmation.email_address.user as user_display %}
      <div>
        {% with email=confirmation.email_address.email %}
          Please confirm that <a href="mailto:{{ email }}">{{ email }}</a>
          is the e-mail address for {{ user_display }}.
        {% endwith %}
      </div>
      {% url 'account_confirm_email' confirmation.key as confirm_url %}
      <form method="POST" action="{{ confirm_url }}">
        {% csrf_token %}
        <input class="button" type="submit" value="Confirm">
      </form>
    {% else %}
      {% url 'account_email' as email_url %}
      <div>
        This e-mail confirmation link has expired or is invalid. Please
        <a href="{{ email_url }}" rel="nofollow">
          issue a new e-mail confirmation request
        </a>.
      </div>
    {% endif %}
  </article>
{% endblock %}
