{% extends 'layout.html' %}
{% block title %}
  <meta name="title" content="New Password">
  <meta name="og:title" content="New Password - {{ config.NAME }}">
  <title>New Password &middot; {{ config.NAME }}</title>
{% endblock %}
{% block robots %}
  <meta name="robots" content="noindex,nofollow">
{% endblock %}
{% block content %}
  <h1 class="text-shadow alter-bg">New Password</h1>
    {% if not token_fail %}
      {% if form %}
        <article class="user-action password-reset" id="password-reset-new">
          <form method="POST" action="{{ action_url }}">
            {% for item in form %}
              <div class="field">
                <label for="{{ item.name }}">{{ item.label }}</label>
                <input type="{{ item.field.widget.input_type }}" class="input"
                       placeholder="{{ item.field.widget.attrs.placeholder }}"
                       name="{{ item.name }}" id="{{ item.name }}" autocomplete="off" required>
                {% if item.errors %}
                  {% for error in item.errors %}
                    <p class="error">{{ error|escape }}</p>
                  {% endfor %}
                {% endif %}
              </div>
            {% endfor %}
            <input name="action" type="submit" class="button" value="Change password">
          </form>
      {% else %}
        <article class="user-action password-reset" id="password-reset-done">
          <div>You have successfully reset your password.</div>
          <div>Click <a href="{% url 'account_login' %}" rel="nofollow">here</a> to sign in.</div>
        </article>
      {% endif %}
    {% else %}
      <article class="user-action password-reset" id="password-reset-invalid">
        <div class="error">Invalid password reset link. It might have already been used.</div>
        <div>Click <a href="{% url 'account_reset_password' %}" rel="nofollow">here</a> to get a new link.</div>
      </article>
    {% endif %}
  </article>
{% endblock %}
