{% extends 'layout.html' %}
{% load account %}
{% block title %}
  <meta name="title" content="Password Reset">
  <meta name="twitter:title" content="Password Reset - {{ config.NAME }}">
  <meta name="og:title" content="Password Reset - {{ config.NAME }}">
  <title>Password Reset &middot; {{ config.NAME }}</title>
{% endblock %}
{% block content %}
  <h1 class="text-shadow alter-fg">Password Reset</h1>
  <article class="user-action password-reset" id="password-reset-form">
    <div>
      Enter your e-mail address and we will
      send you a link to reset your password.
    </div>
    <form method="POST" action="{% url 'account_reset_password' %}">
      {% csrf_token %}
      {% for item in form %}
        <div class="field">
          <label for="{{ item.name }}">{{ item.label }}</label>
          <input type="{{ item.field.widget.input_type }}" class="input"
                 placeholder="{{ item.field.widget.attrs.placeholder }}"
                 name="{{ item.name }}" id="{{ item.name }}" required>
          {% if item.errors %}
            {% for error in item.errors %}
              <p class="error">{{ error|escape }}</p>
            {% endfor %}
          {% endif %}
        </div>
      {% endfor %}
      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}"
               value="{{ redirect_field_value }}" />
      {% endif %}
      <input class="button" type="submit" value="Send e-mail">
    </form>
  </article>
{% endblock %}

