{% extends 'layout.html' %}
{% load account %}
{% block title %}
  <meta name="title" content="Password Reset">
  <meta name="twitter:title" content="Password Reset - {{ config.NAME }}">
  <meta name="og:title" content="Password Reset - {{ config.NAME }}">
  <title>Password Reset &middot; {{ config.NAME }}</title>
{% endblock %}
{% block robots %}
  <meta name="robots" content="noindex">
{% endblock %}
{% block content %}
  <h1 class="text-shadow alter-fg">Password Reset</h1>
  <article class="user-action password-reset" id="password-reset-sent">
    <div>
      We have sent you an e-mail with a link to reset your password.
    </div>
    <div>
      If you can't find the e-mail in your inbox, check your junk folder.
    </div>
  </article>
{% endblock %}
