{% extends 'layout.html' %}
{% block title %}
  <meta name="title" content="New Password">
  <meta name="twitter:title" content="New Password - {{ config.NAME }}">
  <meta name="og:title" content="New Password - {{ config.NAME }}">
  <title>New Password &middot; {{ config.NAME }}</title>
{% endblock %}
{% block content %}
    <h1 class="text-shadow alter-bg">New Password</h1>
    <article class="user-action password-reset" id="password-reset-done">
      <div>You have successfully reset your password.</div>
      <div>Click <a href="{% url 'account_login' %}">here</a> to sign in.</div>
    </article>
{% endblock %}
