{% extends 'skeleton.html' %}
{% block title %}
  <meta name="title" content="New Password">
  <meta name="twitter:title" content="New Password - {{ config.NAME }}">
  <meta name="og:title" content="New Password - {{ config.NAME }}">
  <title>New Password &middot; {{ config.NAME }}</title>
{% endblock %}
{% block content %}
    <h1 class="text-shadow alter-bg">New Password</h1>
    <article class="user-action" id="password-reset-done">
      <div>
        <p>You have successfully reset your password.</p>
        <p>Click <a href="{% url 'account_login' %}">this link</a> to sign in.</p>
      </div>
    </article>
{% endblock %}
