{% extends 'layout.html' %}
{% load account user_tags %}
{% block title %}
  <meta name="title" content="Sign up">
  <meta name="og:title" content="Sign up - {{ config.NAME }}">
  <title>Sign up &middot; {{ config.NAME }}</title>
{% endblock %}
{% block robots %}
  <meta name="robots" content="noindex,nofollow">
{% endblock %}
{% block content %}
  <h1 class="text-shadow alter-bg">Sign up</h1>
  <article class="user-action" id="sign-up">
    <form method="POST" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {% for item in form %}
        <div class="field">
          <label for="{{ item.name }}">{{ item.label }}</label>
          <input type="{{ item.field.widget.input_type }}" class="input" name="{{ item.name }}"
                 id="{{ item.name }}" placeholder="{{ item.field.widget.attrs.placeholder }}"
                 required{% if 'password' in item.name %} autocomplete="off"{% endif %}>
          {% if item.errors %}
            {% for error in item.errors %}
              <p class="error">{{ error|escape }}</p>
            {% endfor %}
          {% endif %}
        </div>
      {% endfor %}
      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
      {% endif %}
      <input class="button" type="submit" value="Register">
    </form>
    <section id="oauth">
      {% get_oauth_providers as oauth_providers %}
      {% for oauth in oauth_providers %}
        {% if forloop.first %}<div id="oauth-or">Or, sign up with:</div>{% endif %}
        <form class="provider" action="{% provider_login_url oauth.provider %}" method="post">
          <button type="submit">
            <i class="mi mi-{{ oauth.provider }}"></i>{{ oauth.name }}
          </button>
        </form>
      {% endfor %}
    </section>
  </article>
{% endblock %}
