{% extends 'layout.html' %}
{% load account %}
{% block title %}
  <meta name="title" content="Activation Pending">
  <meta name="twitter:title" content="Activation Pending - {{ config.NAME }}">
  <meta name="og:title" content="Activation Pending - {{ config.NAME }}">
  <title>Activation Pending &middot; {{ config.NAME }}</title>
{% endblock %}
{% block robots %}
  <meta name="robots" content="noindex">
{% endblock %}
{% block content %}
  <h1 class="text-shadow alter-bg">Activation Pending</h1>
  <article class="user-action" id="activation-sent">
    <div>
      We have sent you an activation link to the e-mail address you provided.
      Please click that link to complete your registration.
    </div>
  </article>
{% endblock %}
