{% extends 'layout.html' %}
{% block description %}
  {% with desc=flatpage.content|striptags %}
    <meta name="twitter:description" content="{{ desc }}">
    <meta property="og:description" content="{{ desc }}">
    <meta name="description" content="{{ desc }}">
  {% endwith %}
{% endblock %}
{% block title %}
  {% with title=flatpage.title|striptags %}
    <meta name="twitter:title" content="{{ title }} - {{ config.NAME }}">
    <meta property="og:title" content="{{ title }}- {{ config.NAME }}">
    <meta name="title" content="{{ title }}">
    <title>{{ title }} &middot; {{ config.NAME }}</title>
  {% endwith %}
{% endblock %}
{% block content %}
  <h1 id="info-header" class="text-shadow">{{ flatpage.title }}</h1>
  <article id="info" class="flatpage">{{ flatpage.content }}</article>
{% endblock %}

