{% extends 'skeleton.html' %}
{% if config.ABOUT %}
  {% block description %}
    {% with desc=config.ABOUT|striptags %}
      <meta name="twitter:description" content="{{ desc }}">
      <meta property="og:description" content="{{ desc }}">
      <meta name="description" content="{{ desc }}">
    {% endwith %}
  {% endblock %}
{% endif %}
{% block title %}
  <meta name="twitter:title" content="About Us - {{ config.NAME }}">
  <meta property="og:title" content="About Us - {{ config.NAME }}">
  <meta name="title" content="About Us">
  <title>About Us &middot; {{ config.NAME }}</title>
{% endblock %}
{% block content %}
  <h1 id="info-header">Info</h1>
  <article id="info">
    {% if config.ABOUT %}
      <h2>About us</h2>
      <section id="about">
        <div>
          {% autoescape off %}
            {{ config.ABOUT|linebreaks }}
          {% endautoescape %}
        </div>
      </section>
    {% endif %}
    {% if config.RECRUITMENT %}
      <h2>Recruitment</h2>
      <section id="recruitment">
        <div>
          {% autoescape off %}
            {{ config.RECRUITMENT|linebreaks }}
          {% endautoescape %}
        </div>
      </section>
    {% endif %}
    {% if config.TWITTER or config.DISCORD %}
      <h2>Links</h2>
      <section id="links">
        {% if config.TWITTER %}
          <a href="https://twitter.com/{{ config.TWITTER }}"
             class="link twitter">
            <i class="fab fa-fw fa-twitter"></i>Twitter
          </a>
        {% endif %}
        {% if config.DISCORD %}
          <a href="{{ config.DISCORD }}" class="link discord">
            <i class="fab fa-fw fa-discord"></i>Discord
          </a>
        {% endif %}
      </section>
    {% endif %}
  </article>
{% endblock %}
{% block breadcrumbs %}
  <li itemprop="itemListElement" itemscope
      itemtype="https://schema.org/ListItem">
    <a itemtype="https://schema.org/Thing"
       itemprop="item" href="{{ PAGE_URL }}">
      <span itemprop="name">Info</span>
    </a>
    <meta itemprop="position" content="2">
  </li>
{% endblock %}

