@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin truncate() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin touch($selector: null) {
  &:hover#{$selector},
  &:active#{$selector},
  &:focus#{$selector} {
    @content;
  }
}

@mixin shadow($size, $color, $type: 'text') {
  #{$type}-shadow: -#{$size} 0 $size $color,
    0 $size $size $color, $size 0 $size $color, 0 -#{$size} $size $color;
}
