#search-categories { display: none !important; }
#placeholder { display: none !important; }
#dropdowns, #controls { display: block !important; }

@media screen and (max-width: 690px) {
  #search .s-hidden { display: inline !important; }
  #result-table { border-right-style: solid; }
}
