@import 'variables';
@import 'mixins';

#search {
  section {
    width: 100%;
    padding: 0.5em 0;
  }
  table {
    margin: 0 auto;
    text-align: center;
    @include box-sizing();
  }
  &-options {
    text-align: center;
    div { margin-bottom: 0.5em }
    input {
      background-color: $main-bg;
      border: 2px solid $alter-bg;
      border-radius: 4px;
      padding: 4px;
      &:focus { border-color: $alter-fg }
      &[type='radio'] {
        display: none;
        + label {
          display: inline-block;
          cursor: pointer;
          padding: 2px 4px;
          border: 2px solid $alter-bg;
          @include border-radius(3px);
        }
        &:checked + label {
          border-color: $alter-fg;
        }
      }
    }
    button {
      padding: 3px 5px;
      border: 2px solid $alter-bg;
      @include border-radius(3px);
      &:focus { border-color: $alter-fg }
    }
  }
  &-box, &-link { display: none }
}

#category-container {
  width: 90%;
  margin: 0 auto 0.5em;
  .category {
    display: inline-block;
    cursor: pointer;
  }
}

.result {
  hyphens: auto;
  &-title a { color: inherit }
  &-authors::after {
    content: quote('/ ');
    white-space: pre-line;
  }
}

