@import 'functions';
@import 'mixins';

body {
  margin: 0 auto;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  &:hover { text-decoration: underline }
}

h1 {
  margin: 0;
  font-size: 1.6em;
  font-weight: normal;
  overflow: hidden;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  margin: 0;
  font-size: 1em;
}

input {
  color: inherit;
  font-family: inherit;
}

button {
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  font-size: 1.05em;
  cursor: pointer;
}

thead {
  cursor: pointer;
  th {
    &[aria-sort='descending'] i::before {
      margin-left: 0.3em;
      content: quote('\f0d7'); // caret-down
    }
    &[data-sort-default] i::before,
    &[aria-sort='ascending'] i::before {
      margin-left: 0.3em;
      content: quote('\f0d8'); // caret-up
    }
  }
}

:focus { outline: none }

::-moz-focus-inner { border: 0 }

#header {
  display: flex;
  height: 45px;
  @include flex();
  #home {
    display: inline-block;
    position: relative;
    z-index: 1;
    span { display: inline-block }
  }
  li { border: none }
  .logo {
    pointer-events: none;
    float: left;
    position: relative;
    z-index: -1;
  }
}

#navig {
  position: absolute;
  right: 0;
  top: 0;
  a {
    display: inline-block;
    padding: 8px;
    &:hover { text-decoration: none }
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    li {
      float: left;
      margin: 0.25em 0;
      @include border-radius(3px);
    }
  }
}

#footer {
  display: block;
  text-align: center;
  margin: 5px;
  @include flex();
  .text {
    font-size: 13px;
    padding-right: 6px;
  }
}

#searchbox {
  width: 250px;
  text-indent: 3px;
  position: relative;
  top: 3px;
  right: 3px;
  margin-left: 3px;
  padding: 4px;
  border-color: transparent;
  @include border-radius(5px);
}

#content {
  margin: 10px auto;
  width: 95vw;
  display: table;
  @include flex(1 0 auto);
  @include box-sizing();
  article {
    padding: 0 5px;
    margin-top: 5px;
  }
  h1 { padding: 2px 0 }
  h2 a {
    display: inline-block;
    color: inherit;
  }
}

#latest {
  .release {
    padding: 3px 2px;
    display: block;
    vertical-align: top;
    &-info {
      display: flex;
      @include flex(1);
      @include justify-content(space-between);
      .chapter-metadata { max-width: 40vw }
      > a {
        color: inherit;
        margin-left: 0.5em;
        max-width: 50vw;
        @include truncate();
      }
    }
  }
}

#list {
  display: flex;
  @include justify-content(flex-start);
  @include flex-direction(column);
  section {
    margin-bottom: 3px;
    padding: 10px 0 0;
    width: 100%;
    .cover {
      width: calc(100vw / 3);
      float: left;
    }
    .series-info {
      display: block;
      vertical-align: top;
      position: relative;
      left: 0.3em;
      .series-chapter {
        display: flex;
        max-width: 90vw;
        padding: 0 0.5em;
        @include flex(1);
        .chapter-metadata { width: 50% }
        > a {
          width: 50%;
          @include truncate();
        }
      }
    }
  }
  .series-title {
    text-align: center;
    font-size: large;
    width: 95%;
    border-bottom: 2px solid;
    margin: 0 auto 3px;
  }
}

#series {
  display: flex;
  @include flex-wrap();
  &-info {
    font-size: 1em;
    padding: 3px;
    max-width: 60vw;
  }
  &-title {
    text-transform: none;
    padding: 0 !important;
  }
  .cover {
    position: relative;
    left: -5px;
    float: left;
    height: 100%;
    width: calc(100vw / 3);
    @include border-radius();
  }
  &-aliases, &-authors, &-artists {
    max-width: 55vw;
    @include truncate();
  }
  div {
    &.alias, &.author, &.artist {
      text-indent: 0.5em;
      @include truncate();
    }
  }
  &-desc {
    font-size: 1em;
    width: 100%;
    h3 { margin: 0.5em 0 }
    p {
      max-width: 90vw;
      margin: 0;
      padding: 0 0.5em;
      white-space: pre-wrap;
      hyphens: auto;
    }
  }
  &-chapters {
    font-size: 1em;
    width: 100%;
    h3 { margin: 0.5em 0 }
    .chapter {
      padding: 0 0 0.5em;
      margin: 0 0.5em;
      display: flex;
      > a {
        display: inline-block;
        max-width: 50vw;
        @include truncate();
      }
      &-metadata { max-width: 50vw }
    }
  }
}

#chapter {
  .placeholder {
    width: 80vw;
    display: flex;
    cursor: wait;
  }
  .chapter-page {
    display: block;
    width: auto;
    cursor: pointer;
    position: relative;
    top: 0.5em;
  }
  .chapter-list {
    float: left;
    a {
      display: inline-block;
      max-width: 50vw;
      @include truncate();
    }
    ul {
      left: -1px;
      min-width: 100%;
      text-indent: 0.05em;
      border-top-left-radius: 0;
    }
  }
  .page-list {
    float: right;
    ul {
      right: -1px;
      width: 125%;
      text-align: center;
      border-top-right-radius: 0;
    }
  }
  #controls {
    width: 100%;
    display: flex;
    margin: 2.5vh auto 1vh;
    @include flex-direction(column);
    span {
      font-size: 1.25em;
      margin: auto 0;
    }
    a { text-decoration: none }
    &-top, &-bottom {
      width: 100%;
      display: inline-flex;
      @include justify-content(space-around);
    }
    .fa-rotate-90 { padding: 0 0.2em }
  }
}

#search {
  section {
    width: 100%;
    padding: 0.5em 0;
  }
  &-options {
    text-align: center;
    div { margin-bottom: 0.5em }
    input {
      border-radius: 4px;
      padding: 4px;
    }
  }
  table {
    margin: 0 0.3em;
    text-align: center;
    @include box-sizing();
  }
  .result {
    hyphens: auto;
    &-title a { color: inherit }
    &-authors::after {
      content: quote('/ ');
      white-space: pre-line;
    }
  }
}

#all-groups {
  display: flex;
  @include flex(0 1 auto);
  @include flex-wrap();
  @include flex-direction();
  @include align-items();
  @include justify-content(space-around);
  .group {
    padding: 0.25em;
    strong {
      display: block;
      text-align: center;
      max-width: 150px;
      @include truncate();
    }
    &-logo {
      display: inline-flex;
      @include size(150px);
      img {
        border-radius: 5px;
        @include size(100%, auto);
        @include align-self();
      }
    }
  }
}

#group {
  &-info {
    display: flex;
    img {
      border-top-left-radius: 5px;
      margin-left: -5px;
      margin-right: 5px;
      @include align-self();
    }
    div { margin: auto 0 }
  }
  &-desc div { text-indent: 0.5em }
  .member {
    padding-left: 0.5em;
    padding-bottom: 1em;
    div { padding-left: 0.5em }
  }
}

.dropdown {
  display: block;
  height: 30px;
  padding: 4px;
  position: relative;
  @include box-sizing();
  ul {
    display: none;
    margin: 0;
    padding: 3px;
    list-style: none;
    position: absolute;
    top: 100%;
    max-width: 90vw;
    max-height: 50vh;
    overflow-y: auto;
    li { @include truncate(); }
  }
  > span {
    display: none;
    cursor: pointer;
  }
  @include touch() {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    ul {
      z-index: 10;
      display: block;
    }
  }
}

.placeholder, .chapter-page {
  max-width: 100%;
  height: auto;
  margin: auto;
  @include box-sizing();
}

.separator {
  display: block;
  margin: auto;
  @include border-radius(100px);
  @include box-sizing();
  @include size(99%, 0.5vh);
  &:last-of-type { display: none }
}

.chapter-metadata {
  margin-left: 0.2em;
  display: inline-flex;
  .chapter-groups, .chapter-date {
    display: inline-block;
    @include truncate();
  }
}

.fa-chevron-down {
  font-size: 75%;
  position: relative;
  bottom: 0.2em;
}

.fa-caret-down {
  font-size: 110%;
  position: relative;
  top: 0.05em;
}

.divider::before { content: quote('\00a0|\00a0') }

.comma::after { content: quote(',') }

.colon::after { content: quote(':') }

.logo { &[height='27'], &[height='38'] { display: none } }

#searchlink { display: none }

@include viewport(1024px) {
  #header {
    height: 38px;
    .logo {
      &[height='45'] { display: none }
      &[height='38'] { display: inline-block }
    }
  }
  #navig {
    top: -2px;
    right: 1px;
  }
}

@include viewport(810px) {
  #search {
    &box { display: none }
    &link { display: block }
  }
}

@include viewport(690px) {
  #header {
    height: 27px;
    .logo {
      &[height='38'] { display: none }
      &[height='27'] { display: inline-block }
    }
  }
  #search {
    table {
      margin: auto;
      border-right: none;
    }
    .result-info:nth-last-child(-n+2) {
      display: inline-block;
      .fa-clock { margin-left: 0.75em }
    }
    .s-hidden { display: none }
  }
  #navig ul li { margin: -0.2em 0 -0.3em -0.2em }
  .ident { display: none }
}


@include viewport(436px) {
  #content {
    background-color: inherit !important;
    border: none !important;
    margin: 5px auto;
    h1 {
      display: table;
      margin: auto;
      padding: 1px 4px;
      vertical-align: middle;
      max-width: 80vw;
      hyphens: auto;
      @include border-radius();
    }
  }
  article { margin-top: 0 }
  #latest h2 { text-align: center }
  #list {
    text-align: center;
    .cover { float: none }
    .series {
      &-info { left: 0 }
      &-chapter {
        justify-content: center;
        a { padding: 0 }
      }
    }
  }
  #series {
    margin-top: 7px;
    text-align: center;
    h3 {
      font-size: 1em;
      font-weight: bold;
      margin: 0.2em 0;
    }
    > div > div { padding: 0.2em 0 }
    &-title { padding-bottom: 3px !important }
    &-info {
      width: 100%;
      max-width: unset;
      padding: 0;
      margin-top: 0.5em;
    }
    &-desc {
      padding: 0;
      margin: 0.5em 0;
      p {
        display: inline-block;
        padding: 0;
      }
    }
    &-aliases, &-authors, &-artists {
      max-width: unset;
      overflow: unset;
      white-space: normal;
      span, div {
        display: block;
        padding: 0 1em;
        hyphens: manual;
      }
    }
    .cover {
      left: 0;
      margin: auto;
      width: 100%;
      max-width: 50vw;
    }
    .chapter {
      margin: 0;
      display: block;
      text-align: center;
      padding-top: 0.5em;
      &-metadata {
        display: inline-block;
        max-width: unset;
        span {
          display: block;
          padding: 0.1em 1em 0;
          white-space: normal;
          height: auto;
          overflow: unset;
          @include text-overflow(unset);
        }
        .divider { display: none }
      }
      > a {
        max-width: unset;
        padding: 0 1em;
        white-space: normal;
        hyphens: auto;
        overflow: unset;
        @include text-overflow(unset);
      }
      &:first-of-type { padding-top: 0.2em }
    }
    div { &.alias, &.author, &.artist { text-indent: 0 } }
  }
  #chapter {
    .dropdown {
      > a { display: none }
      > span { display: inline-block }
    }
  }
  #search {
    label { display: block }
    &-status {
      span { display: block }
      label { display: inline-block }
    }
  }
  #group {
    text-align: center;
    &-info {
      display: block;
      img {
        border-radius: 5px;
        margin: auto;
      }
      a { display: block }
    }
    &-desc div { text-indent: 0 }
    .member { &, div { padding-left: 0 } }
  }
}

