::selection {
  background-color: #097DB3;
  color: #EEE;
}

::-moz-selection {
  background-color: #097DB3;
  color: #EEE;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  &-track-piece {
    background-color: transparent;
    padding-right: 2px;
    width: 10px;
  }
  &-thumb, &-thumb:hover {
    background-color: #0B9FE4;
    border-radius: 3px;
    height: 20px;
    outline-offset: -2px;
  }
}

.flatpage {
  margin-bottom: unset;
  > div { padding: 5px }
}

code {
  font-family: 'DejaVu Sans Mono', 'Lucida Console', monospace;
}

