$main-bg: {{ config.MAIN_BACKGROUND|unquote }};
$alter-bg: {{ config.ALTER_BACKGROUND|unquote }};
$main-fg: {{ config.MAIN_TEXT_COLOR|unquote }};
$alter-fg: {{ config.ALTER_TEXT_COLOR|unquote }};

#content {
  background: none;
  border: none;
}

#placeholder, .chapter-page {
  border: 3px solid $alter-bg;
  border-radius: 5px;
  @media screen and (max-width: 436px) {
    border-width: 2px;
  }
}

.dropdown {
  border: 1px solid $alter-bg;
  border-radius: 5px;
  ul {
    border: 1px solid $alter-bg;
    border-radius: 5px;
  }
}

.curr-page input {
  font-size: 1em;
  text-align: center;
  width: 1.75em;
  background-color: $main-bg;
  color: $alter-fg;
  border: none;
  border-radius: 3px;
  line-height: 105%;
  vertical-align: bottom;
  position: relative;
  bottom: 0.05em;
  border: 1px solid $alter-bg;
}

.mi-spin {
  color: transparentize($alter-fg, 0.25);
  margin: 25vw auto;
  font-size: 9em;
  @media screen and (max-width: 436px) {
    color: transparentize($main-fg, 0.25)
  }
}

